@import url(https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap);* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 2em;
}

.site-header {
  text-align: center;
  padding: 1em 0.5em 1em 0.5em;
}

.header-title {
  font-family: "Beth Ellen", cursive;
  font-size: 4em;
}

.header-description {
  font-family: serif;
  font-size: 1em;
  font-weight: lighter;
}

.navbar {
  width: 100%;
  font-size: 1em;
  text-align: center;
  background: aquamarine;
}

.navbar li {
  background: grey;
}

.navbar a {
  text-decoration: none;
  margin: 1em;
}

.navbar ul,
.navbar li {
  list-style-type: none;
  display: inline-block;
}

.navbar .navbar-item-collapse {
  display: none;
}

